# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# Vscode file 
.vscode 

# local folder
/local 

node_modules

artifacts 

#hardhat 
cache_hardhat/ 

# macOS junk
.DS_Store
*/.DS_Store

# lockfiles you don’t use
package-lock.json

# yarn v2+
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor
.idea/
.vscode/
*.swp