# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# Vscode file 
.vscode 

# local folder
/local 

node_modules

artifacts 

#hardhat 
cache_hardhat/ 